<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a id="howItWorksLink" href="#howItWorks">How It Works</a></li>
        <li><a id="featuresLink" href="#features">Features</a></li>
      </ul>
    </nav>
  </div>
</div>