<!DOCTYPE html>
<html>
  <head>
    <title>WattCounts</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/vendors/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/vendors/jquery.min.js"></script>
    <script src="/js/vendors/jquery-ui.min.js"></script>
  </head>
  <body>
    <%- body %>
    <script src="/js/vendors/bootstrap.min.js"></script>
  </body>
</html>