<nav class="navbar navbar-default navbar-fixed-top" style="height: 100px; background-color: #333 !important;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><image src='/images/logo-icon.png' style="max-height: 80px;"></image></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    </div><!--/.nav-collapse -->
  </div>
</nav>



<div class="container" style="margin-top: 150px;">
    <div class="row col-md-9">
        <div id="chart" style="max-width: 100%; height: 400px; margin: 0 auto"></div>
        <div class="row col-md-12" style="text-align:center;">
            <input type="text" id="from" name="from">
            to <input type="text" id="to" name="to">
            <a class="btn" id="getData">Get data</a>
        </div>
    </div>
    <div class="row col-md-3" style="margin-left: 20px;">
        <div style="text-align:center;"><h4><%=(new Date()).toLocaleDateString() %></h4></div>
        <div class="panel panel-default">
          <div class="panel-heading">Total Consumption</div>
          <div class="panel-body" id="totalConsumption">
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Total Cost  <button type="button" class="btn glyphicon glyphicon-cog float-right" data-toggle="modal" data-target="#editCost"></button></div>
          <div class="panel-body" id="totalCost">
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Carbon Footprint</div>
          <div class="panel-body" id="carbonFootprint">
          </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="editCost">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cost Basis</h4>
      </div>
      <div class="modal-body">
         Cost per kWh: <input id="cost" type="text" value="<%= aveRate %>"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save">Save</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/vendors/highcharts.js"></script>
<script src="/js/vendors/exporting.js"></script>
<script src="/js/dashboard.js"></script>
