<div class="site-wrapper">

        <div class="site-wrapper-inner">

        <div class="cover-container">

          <%- include partials/_header %>

          <div class="inner cover" style="padding-bottom: 50px; padding-top: 80px;">
            <h1 class="cover-heading">
            <div><image src='/images/logo-icon.png' class="resizable"></image></div>
            <p class="lead">Keep track of your electricity consumption. Plan ways to consume less and save more. Try it for free.</p>
            <p class="lead" style="margin: 50px;">
              <a id="login" class="btn btn-lg btn-default">Sign in via  <img style="max-height: 28px; margin-top:-6px;" src="/images/facebook.png"></img></a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created by <a href="#">Team Stoneheartz</a></p>
            </div>
          </div>


        </div>

        <div class="page pageWhite row col-md-12" id="howItWorks">
            <div class="row col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
              <h1 style="padding-bottom: 20px;">Start saving money and energy</h1>
              <div class="row col-md-12">
                <image src='/images/dashboard.png' class="resizable"></image>
              </div>
              <div class="row col-md-12" style="text-align: center; padding-top: 50px; padding-bottom: 50px; ">
                <div class="row col-md-4" class="subdiv">
                  <p class="lead"><span class="glyphicon glyphicon-eye-open"></span>  Track</p>
                  <p>Get access to real time data of your electricity consumption on web and app</p>
                </div>
                <div class="row col-md-4" class="subdiv">
                  <p class="lead"><span class="glyphicon glyphicon-ok-sign"></span>  Plan</p>
                  <p>Use WattCounts’ trend and prediction features to make informed decisions on finding energy saving opportunities</p>
                </div>
                <div class="row col-md-4" class="subdiv">
                  <p class="lead"><span class="glyphicon glyphicon-usd"></span>  Save</p>
                  <p>Discover effective energy solutions and formulate strategies to consume less and save more</p>
                </div>
              </div>
            </div>

        </div>
        <hr>
        <div class="page row col-md-12" id="features">
            <h1 style="padding-bottom: 20px; color: #FDD424">No more surprises when your bill shows up!</h1>
            <div class="row col-md-12" style="padding: 20px; margin: 20px">
              <div class="jumbotron" style="padding: 40px; background-color: transparent;">
                <p class="lead">WattCounts uses image recognition system to monitor your electric consumption real time. Get ahead of your bill by taking a peek on consumption trends and predictions and know when electricity is being used.</p>
              </div>
            </div>
        </div>

      </div>

    </div>

<script src="/js/index.js"></script>