.center {
    text-align: center;
}

/*body {
    background-color: #4c4c4c;
    color: #ffffff;
}*/

.resizable {
    max-width: 100%;
    max-height: 300px;
}

#centerLogo {
    max-width: 300px;
    text-align: center;
}

.panel-default>.panel-heading {
    font-weight: bold;
    text-align: right
}

.panel-default>.panel-body {
    text-align: right
}

.page {
    padding: 20px;
    min-height: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-shadow: none;
}

.pageWhite {
    color: #333;
    background-color: whitesmoke;
}

.subdiv {
    padding: 20px;
}

.row {
    margin-left: 0 !important;
}